{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/idraft"
    },
    "cloudant": {
      "db": "https://faingstandsherisedeather:NYfmKNx5laoqSStT3qesvIhV@jemcphe.cloudant.com/idraft"
  	}
  }
}
